{% extends 'base.html'%}

{% block title %}Survey Gorilla{% endblock %}


{% block content%}
{% for code,survey in surveys.items() %}
<div class="container">
    <div class="card border">
        <div class="card-header">
            {{survey.title}}
        </div>
        <div class="card-body">
            <p>{{survey.instructions}}</p>
            <form action ="/initialize" method="POST">
                <button class='btn btn-primary'>Start Survey</button>
                <input type="text" style="display: none" name='survey_code' value="{{code}}">
            </form>
            
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}